* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    /* height: 100vh; */
}

/* SECTION ONE */
.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #f9faf8;
}

.header {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.header h2 {
    color: #f9faf8;
    font-size: 24px;
    cursor: pointer;
}

.header li {
    color: #f9faf8;
    cursor: pointer;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.hero {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    flex: 1;
}

.hero-content {
    border: 1px solid white;
    height: 200px;
    display: flex;
    justify-content: space-around;
    width: 100px;
    flex: 1;
}

.hero-text {
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: auto;
    gap: 10px;
    flex: 1 1 0%;
}

.hero-text .main-text {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text .secondary-text {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text .hero-button {
    align-self: flex-start;
    /* flex: 0; */
}

.hero-image {
    /* background-color: black; */
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* border: 1px solid white; */
}

.hero-image img {
    width: 500px;
    height: 250px;
    border-radius: 2%;
    /* border: solid yellow; */
}

/* SECTION TWO */
.section-two {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.random-text {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    /* align-items: center; */
    gap: 40px;
}

.section-two p {
    text-align: center;
    margin: 0;
    padding: 3%;
}

.box-one,
.box-two,
.box-three,
.box-four {
    width: 150px;
    text-align: center;
}

.first,
.second,
.third,
.fourth {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

/* SECTION THREE */
.section-three {
    border: 1px solid black;
    padding: 40px;
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.speaker {
    display: flex;
    align-self: flex-end;
}

.speaker p {
    font-weight: 700;
}